.warning-messages{
    font-size: 16px; color: red;
}
button { 
    background-color: rgb(206, 28, 87); 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
} 
button:hover { 
    opacity: 0.8; 
} 

